<ion-header>
  <ion-toolbar>
    <ion-title>My Boardgames List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let g of boardgame">
      <ion-label>
        <input type="hidden" value="{{g.id}}"/>
        <h2>Name: {{g.name}}</h2>
        <h3>Type: {{g.type}}</h3>
        <h3>Company: {{g.company}}</h3>
        <h3>Players: {{g.players}}</h3>
        <h3>Description: {{g.description}}</h3>
        <h3>Year: {{g.year}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/updateboardgame/', g.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="removeBoardgame(g.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
