<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="top">
    
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/my-boardgames" tab="my-boardgames">
      <ion-icon name="my-boardgame"></ion-icon>
      <ion-label>List of Boardgames</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/createboardgame" tab="createboardgame">
      <ion-icon name="createboardgame"></ion-icon>
      <ion-label>Add Boardgame</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
